/*
* © 2018 Daniel Luxa ALL RIGHTS RESERVED
*/
#btn-back, #btn-print, h1, h2, #hide_for_print, .hide_for_print {
	display: none !important;
}

h6 {
	font-size: 5em;
	font-family: tahoma;
	display: block !important;
}
#nameTags {
	display: block !important;
}