#btn-back, #btn-print, h1, h2, #hide_for_print, .hide_for_print {
	display: none !important;
}

h6 {
	font-size: 3em;
	font-family: tahoma;
	display: block !important;
}
#nameTags {
	display: block !important;
}