/**form
table
dropdown overflow
div
.tabcontent

#CA3628
#FFC047
**/

@font-face { font-family: playfair; src: url('../fonts/PlayfairDisplay-Bold.ttf'); }

/*********
Universal
*********/

HTML {
	background-color: #eee;
}

body {
	background-color: #ccc;
	font-family: Arial, sans-serif;
	width: 800px;
	margin: 0px auto;
}

h1 {
	font-family: playfair;
	font-size: 2.75em;
}

h2 {
	font-family: playfair;
	font-size: 2.25em;
}

h3 {
	margin: 0px;
	font-size: 2em;
}

/**************
Header Elements
**************/

header {
	background-color: #CA3628;
	padding: 20px;
}

.rumc {
	margin: 0px;
	text-align: center;
	color: #FFC047;
}

/************
Body Elements
************/

.content {
	padding: 20px 40px;
}

button[type='submit'], input[type='submit'] {
	width: 300px;
	height: 50px;
	margin-top: 20px;
	font-size: 20px;
}

table>button {
	width: 60px;
	height: 22px;
	margin: 0px;
	font-size:13px;
}

#main-page {
	text-align: center;
}
	
.btn_trash {
	background-image: url(/RUMCPantry/images/TEMP_Trash.png);
	width: 32px;
}

.btn_reactivate {
	background-image: url(/RUMCPantry/images/TEMP_Reactivate.png);
	width: 32px;
}

.btn_lock {
	background-image: url(/RUMCPantry/images/TEMP_Lock.png);
	width: 32px;
}



input[type='checkbox'], input[type='radio'] {
	width: 50px;
	height: 50px;
}

