/****************
#CA3628 - RED
#FFC047 - YELLOW
****************/

@font-face { font-family: playfair; src: url('../fonts/PlayfairDisplay-Bold.ttf'); }

/*********
Universal
*********/

HTML {
	background-color: #EEE !important;
}

body {
	background-color: #CCC !important;
	font-family: Arial, sans-serif !important;
	width: 800px !important;
	margin: 0px auto !important;
	font-size: 1.1rem !important;
}

h1 {
	font-family: playfair !important;
	font-size: 2.75rem !important;
}

h2 {
	font-family: playfair !important;
	font-size: 2.25rem !important;
}

h3 {
	margin: 0px !important;
	font-size: 2rem !important;
}

/**************
Header Elements
**************/

header {
	background-color: #CA3628 !important;
	padding: 20px !important;
}

.rumc {
	margin: 0px !important;
	text-align: center !important;
	color: #FFC047 !important;
}

/************
Body Elements
************/

.content {
	padding: 30px !important;
}

/* :not(.btn_trash):not(.btn_reactivate):not(.btn_lock) replaced with :not(.btn_icon) */
.btn-nav {
	width: 300px;
	height: 75px;
	margin-top: 20px;
	font-size: 1.15rem;
	border-radius: 50px;
	background-color: #57B9FF; //#27B867;
	border: solid 2px #499BD6; //#099C4A;
	color: #000;
	cursor: pointer;
}

.btn-nav:hover {
  background-color: #93C5FF;
}
.btn-nav:active {
	background-color: #499BD6; //#1C854A;
	border: solid 2px #3D83B5; //#066630;
}

.btn-nav:focus {
	outline: 0;
}

.btn-table {
	width: 125px;
	height: 33px;
	margin: 0px;
	font-size: 1rem;
  vertical-align: middle;
}

.btn-table:disabled {
	background-color: grey;
  cursor: not-allowed;; 
}

.btn_edit {
	border-radius: 50px;
	background-color: #57B9FF;
	border: solid 2px #499BD6;
	color: #000;
	cursor: pointer;
}

.btn-input {
	width: 200px;
	height: 55px;
}
.btn-input:active:enabled {
	background-color: #499BD6;
	border: solid 2px #3D83B5;
}
.btn-input:focus {
	outline: 0;
}


#main-page {
	text-align: center;
}

#btn_back, #btn_print {
	float: right;
	height: 33px;
	width: 100px;
	font-size: 1.1rem;
	border-radius: 25px;
	border: solid 2px #AAA;
	cursor: pointer;
	box-shadow: 0 2px #999;
}

#btn_back:active, #btn_print:active {
	border: solid 2px #888;
	background-color: #AAA;
	box-shadow: 0 1px #666;
	transform: translateY(1px);
}
#btn_back:focus {outline:0;}

#btn_back:hover {
	background-color: #CCC;
	border: solid 2px #888;
}

.body_content {
	margin-top: 30px;
}

input[type='text']:not(.notes), input[type='password'], input[type='email'], 
form>select, input[type='date'], select, input[type='time'] {
	height: 35px;
	font-size: 1.1rem;
	margin-left: 10px;
	border-radius: 5px;
	padding: 5px;
}

input[type='email'] {
	width: 300px
}

input[type='tel'] {
	height: 35px;
	width: 150px;
	border-radius: 5px;
	font-size: 1.1rem;
	margin-left: 10px;
}

input[type='number']:not(#addressZipField) {
	height: 35px;
	width: 50px;
	font-size: 1.1rem;
	margin-left: 10px;
	text-align: center;
	border-radius: 5px;
}

table:not(.tabcontent), th, td {
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
}

td {
	padding: 5px;
}


/*******************
    Form layout
*******************/

#addressZipField {
	height: 35px;
	width: 120px;
	border-radius: 5px;
	font-size: 1.1rem;
	text-indent: 5px;
}
	
/*******************
Special case buttons
*******************/
.btn_icon {
	font-size: 2em;
	background: none;
	width: 32px;
	height: 32px;
	padding: 0px;
	margin: 0px;
	border: 0px;
	cursor: pointer;
}

.btn_icon:active {
	font-weight: bold;
}

.btn_reactivate:active {
	background-image: url(/RUMCPantry/images/Icon_Reactivate_Active.png);
}

#btn_tabSize {
	width: 170px;
	height: 55px;
}

/*********
Order Form
*********/
.orderSection {
	border: 1px solid black;
	padding: 10px;
}

#specialsSection {
	display: none;
}
/*********
Checkboxes
*********/

input[type="checkbox"], input[type='radio'] {
  display: none;
}
label {
  cursor: pointer;
}
input[type="checkbox"] + label, input[type='radio'] + label:before {
  border: 1px solid #333;
  background: #fff;
  content: "\00a0";
  display: inline-block;
  margin: 0 5px 0 0;
  padding: 0;
  vertical-align: middle;
  height: 25px;
  width: 25px;
  border-radius: 5px;
}

input[type='radio'] + label:before {
  border-radius: 25px;
}

input[type="checkbox"]:checked + label, input[type="radio"]:checked + label:before {
  background: #00C300;
  /* content: "\00a0"; In case we want a checkmark or something */
}
input[type="checkbox"]:checked + label, input[type="radio"]:checked + label:after {
  font-weight: bold;
}

.selectionBoxes {
	display: inline-block;
	margin: 5px 0 5px 15px;
}

input[type='radio'] + label:before {
  margin: 0 5px 0 15px;
}
/*********************************
*********************************/

/******
Tooltip
******/

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    /* Position the tooltip */
    position: absolute;
    z-index: 1;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.required label:after {
	color: red;
	content: ' *';
	display: inline-block;

}

.notes	{
	vertical-align: middle;
	height: 100px;
	width: 250px;
	border-radius: 5px;
	word-wrap: break-word;
    word-break: normal;
}
